.button {
  background-color: #819B57;
  color: white;
  border: 2px solid #819B57;
  border-radius: 8px;
  font-weight: bold;
  width: 232px;
  height: 59px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color:#819B57;

}


