* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  border: 1px solid black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translateY(-20px);
  transition-property: background-color;
  transition-duration: 2s;
}

.item.red:hover {
  background-color: pink;
}

.item.green {
  width: 150px;
  height: 150px;
  background-color: green;
  transform: rotate(45deg);
}

.item.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
  transform: scale(1.5);
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(20deg, 202deg);
}
