* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
  border: 1px solid black;
}

.parent {
  padding: 20px;
  border: 1px solid black;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
}

.item.green {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: green;
}

.item.blue {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: blue;
}

.section-title {
  position: sticky;
  top: 0;
  background-color: antiquewhite;
}
