* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  border: 1px solid black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translateX(-20px);
  transition: background-color 1s, color 1s, transform 1s;
}

.item.red:hover {
  transform: translateX(0);
  background-color: pink;
  color: black;
}

.item.green {
  width: 150px;
  height: 150px;
  background-color: green;
  animation-name: spin;
  animation-duration: 2s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
  transform: scale(1.5);
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(20deg, 202deg);
}
